<!-- Sidebar-menu Content -->

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <!-- Optionally, you can add icons to the links -->
    <li class="header">AREA</li>
    <li class="active"><a href="#/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
    <li><a href="#/fatture"><i class="fa fa-money"></i> <span>Fatture</span></a></li>
    <li><a href="#/referti"><i class="fa fa-file-o"></i> <span>Referti</span></a></li>

    <li class="header">CONFIGURAZIONE</li>
    <li class="treeview">
      <a href="javascript::;"><i class="fa fa-cog"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li><a href="#/account/profilo"><i class="fa fa-user"></i>Profilo</a></li>
        <li><a href="#/account/cambioPassword"><i class="fa fa-lock"></i>Cambio Password</a></li>
      </ul>
    </li>
    <!--
    <li><a href="#/debug"><i class="fa fa-rocket"></i> <span>Debug</span></a></li>
    -->
  </ul><!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
