<!-- Content Header (Page header) -->
<ng-include src="'/app/common/pageHeader.html'"></ng-include>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Elenco Referti</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <!-- Toolbar List -->
          <ng-include src="'/app/common/toolbarList.html'"></ng-include>

          <div class="table-responsive mailbox-messages">

            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>Data</th>
                  <th>Specie</th>
                  <th>Animale</th>
                  <th>Cliente</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.list">
                  <td>{{ item.numero }}/{{ item.lettera }}</td>
                  <td>{{ item.data }}</td>
                  <td>{{ item.specie }}</td>
                  <td>{{ item.nome }}</td>
                  <td>{{ item.clienteAnag }} </td>
                  <td><i ng-click="vm.download(item._id, item.numero, item.lettera)" class="fa fa-cloud-download fa-2x" style="cursor:pointer;"></i></td>
                </tr>
              </tbody>
              <!--
              <tfoot>
                <tr>
                <th>Numero</th>
                <th>Data</th>
                <th>Specie</th>
                <th>Animale</th>
                <th>Cliente</th>
                <th>Download</th>
                </tr>
              </tfoot>
            -->
            </table>

          </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</section>
